<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Chax</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Chax</string>
	<key>CFBundleIdentifier</key>
	<string>com.ksuther.chax.addition</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>OSAX</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.3b2</string>
	<key>CFBundleSignature</key>
	<string>ChxA</string>
	<key>CFBundleVersion</key>
	<string>17</string>
	<key>OSAScriptingDefinition</key>
	<string>ChaxAddition.sdef</string>
	<key>OSAXHandlers</key>
	<dict>
		<key>Events</key>
		<dict>
			<key>ChaxLoad</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>ChaxLoad</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
			<key>ChxLLoad</key>
			<dict>
				<key>Context</key>
				<string>Process</string>
				<key>Handler</key>
				<string>ChxLLoad</string>
				<key>ThreadSafe</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>SUEnableSystemProfiling</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://www.ksuther.com/chax/appcast.php</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
