.transcript {
    clear: both;
    margin-bottom: 1em;
}

.transcript h2 {
    margin: 0;
    padding: 5px;
    font-size: large;
    background-color: #ddd;
}

.transcript p {
    margin-left: 5px;
}

.no_images {
    font-style: italic;
}

.thumbnail {
    float: left;
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    margin: 5px;
    text-align: center;
}