.transcript {
    clear: both;
    margin-bottom: 1em;
    -khtml-user-select: none;
    cursor: default;
    background-color: rgb(253, 253, 253);
    border: 1px solid rgb(240, 240, 240);
}

.transcript h2 {
    margin: 0;
    padding: 5px;
    font-size: large;
    background-color: #ddd;
}

.transcript p {
    margin-left: 5px;
}

.no_images {
    font-style: italic;
}

.thumbnail {
    position: relative;
    float: left;
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    margin: 5px;
    text-align: center;
    cursor: pointer;
}

.jump_to_conversation {
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 9px;
    height: 9px;
    background-image: url('link-icon.tiff');
    cursor: default;
}

.jump_to_conversation:active {
    background-image: url('link-icon-selected.tiff');
}

.me {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 0 1px 0 1px;
    font-size: 7pt;
    font-family: "LucidaGrande-Bold";
    color: white;
    background-color: rgb(115, 127, 145);
}

.spacer {
    clear: both;
}